<html>


<body>
  <nav class="navbar fixed-top ">
    <div class="toolbar" role="banner">
      <img width="100" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        <a class="navbar-brand" href="#">TaskCrud</a>
      </div>
    
  </nav>

  <div class="container">
    <div class="row content">
      <form class="formTask col-sm-4">
        <h1>Task-Form</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputNombre" aria-describedby="emailHelp"
            placeholder="Name">
          <small id="emailHelp" class="form-text text-muted">We'll you most enter the task's name</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Type</label>
          <input type="password" class="form-control" id="exampleInputApellido" placeholder="Type">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Country</label>
          <input type="password" class="form-control" id="exampleInputEmpresa" placeholder="Country">
        </div>

        <button type="submit" class="btn btn-success">Crear</button>
      </form>


      <div class="listTask col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>